:root {
    --main_bg: #272727;
    --main_font: #fff;
    --descr_font: #e8e8e8;
    --shining_elem: #fcd54c;
    --link_color: #929292;
    --color_on_shine: #000;
}

:root[data-light] {
    --main_bg: #fff5e5;
    --main_font: #000;
    --descr_font: #464646;
    --shining_elem: #fc664c;
    --color_on_shine: #fff;
}

div {
    background: var(--main_bg);
    width: 300px;
    height: 300px;
}